/IS3106GroupProject/nbproject/private/
/IS3106GroupProject/IS3106GroupProject-war/nbproject/private/
/IS3106GroupProject/IS3106GroupProject-ejb/nbproject/private/
/IS3106GroupProject/IS3106GroupProject-ejb/dist/
/IS3106GroupProject/IS3106GroupProject-ejb/build/
/IS3106GroupProject/IS3106GroupProject-war/build/
/IS3106GroupProject/dist/
/IS3106GroupProject/build/
/IS3106GroupProject/IS3106GroupProject-war/dist/
